@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin styleBtn($backColor, $primaryColor) {
    padding: 12px 24px;

    border: solid 1px $backColor;
    border-radius: 8px;
    background-color: $backColor;

    color: $primaryColor;

    transition: transform .3s ease;

    &:hover {
        transform: scale(1.1)
    }

    &::after {
        content: ' ->';
        font-family: monospace;

    }
}